
CleanupColorsets

# Inactive window
#Colorset 1 fg DarkSlateGray, bg #5a5d5a, hi #b5b6b5
Colorset 3 fg DarkSlateGray, bg #5a5d5a, hi #b5b6b5
#Colorset 2 fg black, bg #808080, hi #b5b6b5
Colorset 2 fg black, bg #808080, hi #939393, sh #111111


# Active window
#Colorset 2 fg white, bg #63617b, hi #988a85
#Colorset 1 fg white, bg #63617b, hi #988a85
Colorset 1 fg black, bg #a59f80, hi #dad7ca, sh #111111
#Menu
#Colorset 2 fg white, bg #63617b


#Window Title 
#active
#Colorset 7 fg white, bg #63617b, hi #988a85
Colorset 7 fg black, bg #a59f80, hi #dad7ca, sh #111111
#inactive
#Colorset 8 fg DarkSlateGray, bg #5a5d5a, hi #b5b6b5
Colorset 8 fg black, bg #808080, hi #939393, sh #111111

#Pager
Colorset 9 fg black, bg #a59e84, hi #bdbaa5
#, RootTransparent buffer, Tint #a59e84 40

# CDE panel
Colorset 5 fg black, bg #a59e84, hi #bdbaa5
#, RootTransparent buffer, Tint #a59e84 40

#Icon Title
Colorset 15 fg white, bg #63617b
Colorset 6 fg white, bg #63617b

# MenuBar
SetEnv cs-menu-active 21
SetEnv cs-menu-inactive 20
Colorset 20 fg black, bg #a59e84, hi #bdbaa5
Colorset 21 fg black, bg #837c62, hi #bdbaa5

ButtonStyle reset

ButtonStyle 1 Pixmap Irix/menu.png
ButtonStyle 6 Pixmap Irix/mini.png
ButtonStyle 4 Pixmap Irix/max.png
ButtonStyle 2 Pixmap Irix/close2.png

ButtonStyle All -- UseTitleStyle raised


TitleStyle ActiveUp Colorset 7 -- raised
TitleStyle Inactive Colorset 8 -- raised
#TitleStyle Centered
TitleStyle LeftJustified MinHeight 22

BorderStyle Active Colorset 1 -- raised
BorderStyle Inactive Colorset 3 -- raised

Mouse 0 1       A       Menu FvwmWindowMenu Close
Mouse 3 1       A       Close
Mouse 0 6       A       Thumbnail
Mouse 0 4       A       Maximize 90 90
Mouse 0 2 		A		Close

#Style * 		TitleAtLeft
Style *			IndexedWindowName
Style *			BorderWidth 5, HandleWidth 6
#Style *         MWMFunctions, MWMBorder, MWMButtons
#Style *			Font Shadow=0:xft:Teams:Bold:Italic:size=9:encoding=iso10646-1
#Style *			IconBox 500x650-1-90, IconFill bottom right
#Style *			IconBox 800x110+20-1, IconFill left bottom
#Style *			IconBox 150x800-1+30, IconFill top right
Style *				IconBox 1152x130+1+1, IconFill right top

