
Emulate Mwm
####################################### Colorsets
# Active window
Colorset 1 fg white, bg #A6AB96
# Inactive window 
Colorset 2 fg white, bg #A6AB96
#, RootTransparent buffer, Tint #838183 80, IconAlpha 80

# Active Title
Colorset 9 fg white, bg black
# Inactive Title
Colorset 10 fg white, bg #A6AB96

# Menu base
Colorset 3 fg black, bg #AFB49F
#, RootTransparent, Tint black 50
# Menu hilight
Colorset 4 fg white, bg #4BC300

# Pager
Colorset 7 fg white, bg #104c58, RootTransparent, Tint #104c58 0
# Inactive window in pager
#Colorset 5 fg white, bg #104c58, RootTransparent, Tint #104c58 0
Colorset 5 fg white, bg #A6Ab96

# IconMan
Colorset 11 fg white, bg black, RootTransparent, Tint black 20
# Active IconMan
Colorset 12 fg white, bg black

# Icon title
Colorset 6 fg white, bg blue, RootTransparent, Tint #104c58 20

# Panels
Colorset 8 fg white, bg #A6AB96
#, RootTransparent buffer, Tint #838183 0

####################################### Titles/Borrders/Buttons
TitleStyle LeftJustified Height 25
TitleStyle ActiveUp Colorset 9
TitleStyle ActiveDown Colorset 9
TitleStyle InactiveUp Colorset 10
TitleStyle InactiveDown Colorset 10
TitleStyle Inactive -- sunk
TitleStyle Active -- sunk

BorderStyle Active Colorset 1
BorderStyle Inactive Colorset 2
BorderStyle -- raised

AddButtonStyle All -- UseTitleStyle 
AddButtonStyle All Active (Colorset 1) \
			Inactive (Colorset 2)
AddButtonStyle 1 Vector 5 15x45@1 85x45@1 85x55@0 15x55@0 15x45@1 

AddButtonStyle 2 Vector 5 20x20@1 80x20@1 80x80@0 20x80@0 20x20@1

AddButtonStyle 4 Vector 5 40x40@1 60x40@1 60x60@0 40x60@0 40x40@1

Style * BorderWidth 6, HandleWidth 6
Style * Handles
Style * TitleAtTop

